# Data files
data/raw/*.csv
data/raw/*.zip
data/raw/*.parquet

# Allow text files (dataset link)
!data/raw/*.txt

# Ignore model artifacts
models/
notebooks/models/
notebooks/bert_results/
models/**/*.json
models/**/*.safetensors
models/**/*.bin
models/**/*.pt
models/**/*.pth
notebooks/models/**/*.json
notebooks/models/**/*.safetensors
notebooks/models/**/*.bin
notebooks/models/**/*.pt
notebooks/models/**/*.pth
notebooks/bert*

# Ignore model and checkpoint artifacts
models/
notebooks/models/
notebooks/bert_results/
*.safetensors
*.bin
*.pt
*.pth

# Python
__pycache__/
*.pyc

# Virtual env
venv/

# Jupyter
.ipynb_checkpoints/data/
*.csv
